@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-thumb {
    scrollbar-color: #f4980f transparent; /* Color del pulgar (scroll) */
  }
  .scrollbar-thumb:hover {
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));  /* Color cuando pasas el cursor */
  }
  .scrollbar-track {
    background-color: transparent; /* Color del fondo del scroll */
  }

  /* Para navegadores basados en WebKit (Chrome, Safari) */
  .scrollbar-thumb::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-thumb::-webkit-scrollbar-thumb {
    background-color: #ff9800;
    border-radius: 10px;
  }
  .scrollbar-thumb::-webkit-scrollbar-thumb:hover {
    background-color: #ffa726;
  }
  .scrollbar-thumb::-webkit-scrollbar-track {
    background-color: #2d3748;
  }
}


/* Cambia el color de los botones de navegación */
.swiper-button-next,
.swiper-button-prev {
  color: #fff; /* Cambia a tu color preferido */
  background-color: #00000080; /* Fondo con opacidad */
  border-radius: 50%; /* Forma circular */
  width: 60px; /* Ajusta el tamaño */
  height: 60px;
}

/* Aumenta el tamaño del icono */
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
}



/* Añade efectos al hacer hover sobre los botones */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.1); /* Efecto de agrandamiento */
}

/* Animacion entrada paginas */
.page {
  opacity: 0;
  transform: translateY(150px);
  transition: opacity .5s ease, transform 1.5s ease;
}
.page.animate {
  opacity: 1;
  transform: translateY(0);
}

.pageFilter{
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity .5s ease, transform 1s ease;
}

.pageFilter.animate {
  opacity: 1;
  transform: translateX(0);
}

.pageDetailCharacter{
  opacity: 0;
  transform: translateY(200px);
  transition: opacity  1s ease, transform 1.5s ease;
}

.pageDetailCharacter.animate {
  opacity: 1;
  transform: translateY(0);
}

.pageDetailPlanet{
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity  0.3s ease, transform 1s ease;
}

.pageDetailPlanet.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Toast */
.custom-toast {
  background-color: #1e293b !important; /* Fondo oscuro */
  color: #fff !important;              /* Texto blanco */
  border-radius: 10px !important;      /* Bordes redondeados */
}

/* Estilos personalizados para la notificación en el centro de la pantalla */
.custom-toastMobile {
  position: fixed !important;
  top: 500px !important;
  left: 50% !important;
  z-index: 9999; /* Asegura que el toast aparezca encima de otros elementos */
  background-color: #1e293b ;
  color: white;
  border-radius: 8px;
  text-align: center;
}

